Source/DeadManSwitch.Service.Wcf.Proxy/Service References/ScheduleService/ScheduleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1659/ScheduleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" />
  <xs:element name="SearchAllSchedulesByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAllSchedulesByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" minOccurs="0" name="SearchAllSchedulesByUserResult" nillable="true" type="q1:ReturnObjectOfTypeArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scheduleTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="scheduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" minOccurs="0" name="DeleteScheduleResult" nillable="true" type="q2:ReturnObjectOfTypeboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDailySchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scheduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDailyScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" minOccurs="0" name="FindDailyScheduleResult" nillable="true" type="q3:ReturnObjectOfTypeDailySchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDailySchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" minOccurs="0" name="schedule" nillable="true" type="q4:DailySchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDailyScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" minOccurs="0" name="SaveDailyScheduleResult" nillable="true" type="q5:ReturnObjectOfTypeboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>