Source/DeadManSwitch.Service.Wcf.Proxy/Service References/ScheduleService/ScheduleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScheduleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1659/ScheduleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1659/ScheduleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1659/ScheduleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScheduleService_SearchAllSchedulesByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAllSchedulesByUser" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_SearchAllSchedulesByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAllSchedulesByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_DeleteSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSchedule" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_DeleteSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_FindDailySchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:FindDailySchedule" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_FindDailySchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindDailyScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_SaveDailySchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDailySchedule" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_SaveDailySchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDailyScheduleResponse" />
  </wsdl:message>
  <wsdl:portType name="IScheduleService">
    <wsdl:operation name="SearchAllSchedulesByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/SearchAllSchedulesByUser" message="tns:IScheduleService_SearchAllSchedulesByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/SearchAllSchedulesByUserResponse" message="tns:IScheduleService_SearchAllSchedulesByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/DeleteSchedule" message="tns:IScheduleService_DeleteSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/DeleteScheduleResponse" message="tns:IScheduleService_DeleteSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindDailySchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/FindDailySchedule" message="tns:IScheduleService_FindDailySchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/FindDailyScheduleResponse" message="tns:IScheduleService_FindDailySchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDailySchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/SaveDailySchedule" message="tns:IScheduleService_SaveDailySchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/SaveDailyScheduleResponse" message="tns:IScheduleService_SaveDailySchedule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScheduleService" type="tns:IScheduleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchAllSchedulesByUser">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/SearchAllSchedulesByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSchedule">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/DeleteSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindDailySchedule">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/FindDailySchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDailySchedule">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/SaveDailySchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScheduleService">
    <wsdl:port name="BasicHttpBinding_IScheduleService" binding="tns:BasicHttpBinding_IScheduleService">
      <soap:address location="http://localhost:1659/ScheduleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>