Source/DeadManSwitch.Service.Wcf.Proxy/Service References/ActionService/ActionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1659/ActionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1659/ActionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1659/ActionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" />
      <xsd:import schemaLocation="http://localhost:1659/ActionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActionService_GetAllEscalationActionTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEscalationActionTypes" />
  </wsdl:message>
  <wsdl:message name="IActionService_GetAllEscalationActionTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEscalationActionTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IActionService_GetAllEscalationWaitMinutes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEscalationWaitMinutes" />
  </wsdl:message>
  <wsdl:message name="IActionService_GetAllEscalationWaitMinutes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEscalationWaitMinutesResponse" />
  </wsdl:message>
  <wsdl:message name="IActionService_FindUserEscalationStep_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserEscalationStep" />
  </wsdl:message>
  <wsdl:message name="IActionService_FindUserEscalationStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserEscalationStepResponse" />
  </wsdl:message>
  <wsdl:message name="IActionService_FindUserEscalationSteps_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserEscalationSteps" />
  </wsdl:message>
  <wsdl:message name="IActionService_FindUserEscalationSteps_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserEscalationStepsResponse" />
  </wsdl:message>
  <wsdl:message name="IActionService_SaveUserEscalationStep_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserEscalationStep" />
  </wsdl:message>
  <wsdl:message name="IActionService_SaveUserEscalationStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserEscalationStepResponse" />
  </wsdl:message>
  <wsdl:message name="IActionService_SaveUserEscalationSteps_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserEscalationSteps" />
  </wsdl:message>
  <wsdl:message name="IActionService_SaveUserEscalationSteps_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserEscalationStepsResponse" />
  </wsdl:message>
  <wsdl:message name="IActionService_DeleteUserEscalationStep_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserEscalationStep" />
  </wsdl:message>
  <wsdl:message name="IActionService_DeleteUserEscalationStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserEscalationStepResponse" />
  </wsdl:message>
  <wsdl:message name="IActionService_ReorderUserEscalationSteps_InputMessage">
    <wsdl:part name="parameters" element="tns:ReorderUserEscalationSteps" />
  </wsdl:message>
  <wsdl:message name="IActionService_ReorderUserEscalationSteps_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReorderUserEscalationStepsResponse" />
  </wsdl:message>
  <wsdl:portType name="IActionService">
    <wsdl:operation name="GetAllEscalationActionTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/GetAllEscalationActionTypes" message="tns:IActionService_GetAllEscalationActionTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/GetAllEscalationActionTypesResponse" message="tns:IActionService_GetAllEscalationActionTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEscalationWaitMinutes">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/GetAllEscalationWaitMinutes" message="tns:IActionService_GetAllEscalationWaitMinutes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/GetAllEscalationWaitMinutesResponse" message="tns:IActionService_GetAllEscalationWaitMinutes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserEscalationStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/FindUserEscalationStep" message="tns:IActionService_FindUserEscalationStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/FindUserEscalationStepResponse" message="tns:IActionService_FindUserEscalationStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserEscalationSteps">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/FindUserEscalationSteps" message="tns:IActionService_FindUserEscalationSteps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/FindUserEscalationStepsResponse" message="tns:IActionService_FindUserEscalationSteps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUserEscalationStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/SaveUserEscalationStep" message="tns:IActionService_SaveUserEscalationStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/SaveUserEscalationStepResponse" message="tns:IActionService_SaveUserEscalationStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUserEscalationSteps">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/SaveUserEscalationSteps" message="tns:IActionService_SaveUserEscalationSteps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/SaveUserEscalationStepsResponse" message="tns:IActionService_SaveUserEscalationSteps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserEscalationStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/DeleteUserEscalationStep" message="tns:IActionService_DeleteUserEscalationStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/DeleteUserEscalationStepResponse" message="tns:IActionService_DeleteUserEscalationStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReorderUserEscalationSteps">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/ReorderUserEscalationSteps" message="tns:IActionService_ReorderUserEscalationSteps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/ReorderUserEscalationStepsResponse" message="tns:IActionService_ReorderUserEscalationSteps_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IActionService" type="tns:IActionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEscalationActionTypes">
      <soap:operation soapAction="http://tempuri.org/IActionService/GetAllEscalationActionTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEscalationWaitMinutes">
      <soap:operation soapAction="http://tempuri.org/IActionService/GetAllEscalationWaitMinutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserEscalationStep">
      <soap:operation soapAction="http://tempuri.org/IActionService/FindUserEscalationStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserEscalationSteps">
      <soap:operation soapAction="http://tempuri.org/IActionService/FindUserEscalationSteps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUserEscalationStep">
      <soap:operation soapAction="http://tempuri.org/IActionService/SaveUserEscalationStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUserEscalationSteps">
      <soap:operation soapAction="http://tempuri.org/IActionService/SaveUserEscalationSteps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserEscalationStep">
      <soap:operation soapAction="http://tempuri.org/IActionService/DeleteUserEscalationStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReorderUserEscalationSteps">
      <soap:operation soapAction="http://tempuri.org/IActionService/ReorderUserEscalationSteps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActionService">
    <wsdl:port name="BasicHttpBinding_IActionService" binding="tns:BasicHttpBinding_IActionService">
      <soap:address location="http://localhost:1659/ActionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>