Source/DeadManSwitch.Service.Wcf.Proxy/Service References/AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1659/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1659/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1659/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" />
      <xsd:import schemaLocation="http://localhost:1659/AccountService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_IsRegistrationOpen_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRegistrationOpen" />
  </wsdl:message>
  <wsdl:message name="IAccountService_IsRegistrationOpen_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRegistrationOpenResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UserNameExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UserNameExists" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UserNameExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserNameExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IAccountService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FindUser_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUser" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FindUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FindUserPreferences_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserPreferences" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FindUserPreferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdatePreferences_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePreferences" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdatePreferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetSystemTimeZones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemTimeZones" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetSystemTimeZones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemTimeZonesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetCheckInWindowOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckInWindowOptions" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetCheckInWindowOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckInWindowOptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="IsRegistrationOpen">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/IsRegistrationOpen" message="tns:IAccountService_IsRegistrationOpen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/IsRegistrationOpenResponse" message="tns:IAccountService_IsRegistrationOpen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserNameExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UserNameExists" message="tns:IAccountService_UserNameExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UserNameExistsResponse" message="tns:IAccountService_UserNameExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/RegisterUser" message="tns:IAccountService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/RegisterUserResponse" message="tns:IAccountService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Login" message="tns:IAccountService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/LoginResponse" message="tns:IAccountService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/FindUser" message="tns:IAccountService_FindUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/FindUserResponse" message="tns:IAccountService_FindUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserPreferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/FindUserPreferences" message="tns:IAccountService_FindUserPreferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/FindUserPreferencesResponse" message="tns:IAccountService_FindUserPreferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePreferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UpdatePreferences" message="tns:IAccountService_UpdatePreferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UpdatePreferencesResponse" message="tns:IAccountService_UpdatePreferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UpdateProfile" message="tns:IAccountService_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UpdateProfileResponse" message="tns:IAccountService_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/ChangePassword" message="tns:IAccountService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/ChangePasswordResponse" message="tns:IAccountService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemTimeZones">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetSystemTimeZones" message="tns:IAccountService_GetSystemTimeZones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetSystemTimeZonesResponse" message="tns:IAccountService_GetSystemTimeZones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckInWindowOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetCheckInWindowOptions" message="tns:IAccountService_GetCheckInWindowOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetCheckInWindowOptionsResponse" message="tns:IAccountService_GetCheckInWindowOptions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsRegistrationOpen">
      <soap:operation soapAction="http://tempuri.org/IAccountService/IsRegistrationOpen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserNameExists">
      <soap:operation soapAction="http://tempuri.org/IAccountService/UserNameExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IAccountService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAccountService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap:operation soapAction="http://tempuri.org/IAccountService/FindUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserPreferences">
      <soap:operation soapAction="http://tempuri.org/IAccountService/FindUserPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePreferences">
      <soap:operation soapAction="http://tempuri.org/IAccountService/UpdatePreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IAccountService/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IAccountService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemTimeZones">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetSystemTimeZones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckInWindowOptions">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetCheckInWindowOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:1659/AccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>