Source/DeadManSwitch.Service.Wcf.Proxy/Service References/CheckInService/CheckInService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReturnObjectOfTypeCheckInInfo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnObjectOfType{0}" Namespace="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CheckInInfo" Namespace="http://schemas.datacontract.org/2004/07/DeadManSwitch.Service.Wcf" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:CheckInInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnObjectOfTypeCheckInInfo" nillable="true" type="tns:ReturnObjectOfTypeCheckInInfo" />
  <xs:complexType name="CheckInInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckInTimeUtc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextCheckInTimeUtc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTimeZoneId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckInInfo" nillable="true" type="tns:CheckInInfo" />
</xs:schema>